<div class="inner">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>

    <div class="division"></div>
    <div class="division2"></div>

    <img class="img_sm" src="assets/images/fantastic_knock_about/fka_icon.png" alt="Screenshot">

    <h4>A Fantastic Knock About - Game Jam Game</h4>

    <p>The theme of this game jam was "An End Is A New Beginning."  I wanted to explore what happens 
        after you lose in one of those classic atari games.  It's a fun little concept, having paddles now on each side of the screen.
        There are some procedurally-generated aspects to it which makes it different each time.
    </p>

        <img src="assets/images/fantastic_knock_about/fka_playthrough.gif" alt="Playthrough">

        <p></p>
        <a class="btn btn-danger" href="https://vavavacudagames.itch.io/break-out-again-webgl">- Play Me! -</a>

        <h4>Technologies</h4>
        <p>Built using Unity and C#</p>
        
        <p></p>
        <a class="btn btn-danger" href="https://github.com/Vacuda/FantasticKnockAbout/tree/main/Assets/Scripts">- C# Github Samples -</a>

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>

        <!-- <footer> -->
        <p id="footerlegal">&copy; VavaVacuda Games 2023</p>
        <!-- </footer> -->

</div>