.inner {
    margin: 0 auto;
    display: block;
    text-align: center;
}

img {
    width: 80%;
    height: auto;
    /* max-width: 90%; */
    box-shadow: 0px 0px 3px 2px black;

}

h5 {
    margin-top: 20px;
}

h1 {
    text-decoration: underline;
}

.top {
    width: 20%;
    height: auto;
}

.btn-success {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    height: 24px;
    line-height: 10px;
    box-shadow: 0px 0px 1px 2px black;
}

.btn-danger {
    width: 30%;
    margin-bottom: 20px;
    height: 24px;
    line-height: 10px;
    box-shadow: 0px 0px 1px 2px black;
}