<div class="inner">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>

    <div class="division"></div>
    <div class="division2"></div>

        <h1>Wedding Planner Exercise</h1>

        <h4>Technologies</h4>
        <p>C#, .NET Core, MySQL</p>

        <a class="btn btn-danger" href="https://github.com/Vacuda/Wedding_Planner">-Github-</a>

        <h5>Login and Registration</h5>
        <img src="assets/images/wedding_planner/registration.gif" alt="Animated Gif Showing Functionality">

        <h5>Adding and RSVPing to a Wedding</h5>
        <img src="assets/images/wedding_planner/adding_wedding.gif" alt="Animated Gif Showing Functionality">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>

</div>