<div class="mycontainer">


    <div class="division"></div>
    <div class="division2"></div>

    <h1>Welcome to my portfolio,</h1>
    <h1>Iron Galaxy Studios Person!</h1>
    <h3>You look rather cool today.  Did you get a haircut?</h3>
    <img class="ironlogo" src="assets/images/cater_iron_galaxy/iron_galaxy_logo.png" alt="Iron Galaxy Logo">

    <h3>You're probably wondering why I called this meeting.</h3>
    <h3>Iron Galaxy, we've noticed some odd behavior coming from you.</h3>
    <h3>You are expanding rapidly, and we're all a little...</h3>
    <h1>ENVIOUS!</h1>
    <h1>Can I join you!?</h1>
    <img class="adamatpicture" src="assets/images/cater_iron_galaxy/adam_at_iron_galaxy.png" alt="Adam At Iron Galaxy">

    <div class="division"></div>
    <div class="division2"></div>
    

</div>

<app-shell-portfolio ></app-shell-portfolio>





