<div class="mycontainer">

    <div>
        <button class="btn btn-success" [routerLink]="['/']">&laquo; Adam's Portfolio Site &laquo;</button>
    </div>
    <div class="division"></div>

    <h1>Welcome to my game,</h1>
    <h1>Iron Galaxy Studios Person!</h1>
    <h3>You look rather cool today. Did you get a haircut?</h3>
    <img class="ironlogo" src="assets/images/cater_iron_galaxy/iron_galaxy_logo.png" alt="Iron Galaxy Logo">

    <h3>You're probably wondering why I called this meeting. I'll get right to the point.</h3>
    <h3>You are expanding rapidly.  We've all noticed.  We're concerned.</h3>
    <h1>Can I join you!?</h1>
    <img class="adamatpicture" src="assets/images/cater_iron_galaxy/adam_at_iron_galaxy.png" alt="Adam At Iron Galaxy">

    <div class="division"></div>

    <p>Anyway...</p>
    <h1>The Talismans Of Genyatium</h1>
    <img class="talismanlogo" src="assets/images/cater_iron_galaxy/talismans_logo.png" alt="Talismans Logo">

    <p>
        <a class="icons" href="https://www.youtube.com/channel/UCQd1p4LLjIFoVrocGAS9bdQ"><img src="assets/images/icons/icon_youtube.png" alt="Youtube Icon"></a>
        <a class="midicon icons" href="https://twitter.com/vavavacudagames"><img src="assets/images/icons/icon_twitter.png" alt="Twitter Icon"></a>
        <a class="icons" href="https://github.com/Vacuda/Partial_Talismans"><img src="assets/images/icons/icon_github.png" alt="Github Icon"></a>
    </p>

    &nbsp;

    <p>I've been developing this game whilst learning the Unreal Engine.</p>
    <p>It's written in C++ but also utilizes blueprints for materials and menus.</p>
    &nbsp;
    <p>Here's my latest DevLog:</p>
    <iframe src="https://www.youtube.com/embed/bsYTjPxUjUE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="division"></div>
    <p>And...</p>
    <p>Here's a breakdown of all the things:</p>
    &nbsp;

<!-- ITEMS START HERE -->

    <!-- Tagline -->
    <div class="item" id="item_tagline">

        <div class="itembar btn" (click)="toggle_item_tagline()">
            <h3>Game Tag Line</h3>
            <h3>&#9660;</h3>
        </div>

        <div *ngIf="item_tagline==true">
            <img class="itemimg" src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
        </div>

    </div>

    <!-- Prod Gen Levels -->
    <div class="item" id="item_prod_gen_levels">

        <div class="itembar btn" (click)="toggle_item_prod_gen_levels()">
            <h3>Procedurally Generated Levels</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_prod_gen_levels==true">
            <img class="itemimg" src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
        </div>
    </div>

    <!-- Menu -->
    <div class="item" id="item_menu">

        <div class="itembar btn" (click)="toggle_item_menu()">
            <h3>Menu</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_menu==true">
            <img class="itemimg" src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
        </div>
    </div>

    <!-- Randomly Cut Puzzles -->
    <div class="item" id="item_rand_cut_puzzles">

        <div class="itembar btn" (click)="toggle_item_rand_cut_puzzles()">
            <h3>Randomly Cut Puzzles</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_rand_cut_puzzles==true">
            <img class="itemimg" src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
        </div>
    </div>

    <!-- Save Games -->
    <div class="item" id="item_save_games">

        <div class="itembar btn" (click)="toggle_item_save_games()">
            <h3>Save Games</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_save_games==true">
            <img class="itemimg" src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
        </div>
    </div> 

    <!-- C++ Integration -->
    <div class="item" id="item_cpp_integration">

        <div class="itembar btn" (click)="toggle_item_cpp_integration()">
            <h3>C++ Integration</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_cpp_integration==true">
            <img class="itemimg" src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
        </div>
    </div>


    <footer>
        <p id="footerlegal">Talismans Of Genyatium &copy; VavaVacuda Games 2021</p>
    </footer>


    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <img class="adamatpicture" src="assets/images/cater_iron_galaxy/adam_at_iron_galaxy.png" alt="Adam At Iron Galaxy">


</div>







