

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* outline: 1px dotted red; */
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.mycontainer {
    /* background-color: rgb(236, 219, 187);  */
    /* background-color: rgb(117, 112, 103);  */
    background-color: rgb(255, 255, 255); 
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}



.division {
    background-color: rgb(204, 175, 121); 
    border-color: rgb(95, 61, 29);
    height: 5px;
    width: 60%;
    margin: 20px auto 20px auto;
    box-shadow: 0px 0px 2px rgb(95, 61, 29);
    display: block;
    border-radius: 10px;
}

.division2 {
    background-color: rgb(204, 175, 121); 
    border-color: rgb(95, 61, 29);
    height: 5px;
    width: 50%;
    margin: -14px 0px 20px 20%;
    box-shadow: 0px 0px 2px rgb(95, 61, 29);
    display: block;
    border-radius: 10px;
}

.finedivision {
    background-color: rgb(204, 175, 121); 
    border-color: rgb(95, 61, 29);
    height: 5px;
    width: 30%;
    margin: -5px 0px 10px -20px;
    box-shadow: 0px 0px 2px rgb(95, 61, 29);
    display: block;
    border-radius: 10px;
}

.finedivision2 {
    background-color: rgb(204, 175, 121); 
    border-color: rgb(95, 61, 29);
    height: 5px;
    width: 20%;
    margin: -5px 0px 0px -20px;
    box-shadow: 0px 0px 2px rgb(95, 61, 29);
    display: block;
    border-radius: 10px;
}


button {
    margin: 0px;
    font-size: 14px;
    display: block;
}

#rad:active {
    background-color: rgb(155, 127, 76);
    border-color: rgb(155, 127, 76);
    box-shadow: rgb(155, 127, 76);
}

h1, h3 {
    text-align: center;
    color: rgb(14, 7, 2);
}

iframe {
    width: 80%;
    display: block;
    margin: 5px auto;
    box-shadow: 0px 0px 7px rgb(95, 61, 29);
}

.midicon img{
    margin-left: 30px;
    margin-right: 30px;
}

.icons img{
    margin-top: 10px;
    height: auto;
}

.ironlogo {
    width: 50%;
    height: auto;
    margin: 10px auto;
    display: block;
    box-shadow: 0px 0px 7px rgb(95, 61, 29);
}

.talismanlogo {
    width: 50%;
    height: auto;
    margin: 10px auto;
    display: block;
    box-shadow: 0px 0px 7px rgb(95, 61, 29);
}

.adamatpicture {
    width: 70%;
    height: auto;
    margin: 10px auto;
    display: block;
    box-shadow: 0px 0px 7px rgb(95, 61, 29);
}
.btn-success {
    background-color: rgb(204, 175, 121);
    margin-top: 20px;
    margin-bottom: 20px;
    /* width: 30%; */
    height: 24px;
    line-height: 10px;
    margin-left: 10px;
    text-align: left;
    box-shadow: 0px 0px 1px 2px rgb(95, 61, 29);
}

.itembar {
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    line-height: 20px;
    display: block;
    height: 40%;
    width: 50%;
    border-color: rgb(95, 61, 29);
    background-color: rgb(204, 175, 121);
    box-shadow: 0px 0px 1px 2px rgb(95, 61, 29);
}

.itembar_category {
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    line-height: 20px;
    display: block;
    height: 40%;
    width: 50%;
    border-color: rgb(95, 61, 29);
    background-color: rgb(155, 127, 76);
    /* background-color: rgb(204, 175, 121); */
    box-shadow: 0px 0px 1px 2px rgb(95, 61, 29);
}

.itembar h3:nth-of-type(1) {
    display: inline-block;
    width: 90%;
    text-align: left;
}

.itembar_category h3:nth-of-type(1) {
    display: inline-block;
    width: 90%;
    text-align: left;
}

.itembar h3:nth-of-type(2) {
    display: inline-block;
    width: 10%;
    text-align: right;
}

.itembar_category h3:nth-of-type(2) {
    display: inline-block;
    width: 10%;
    text-align: right;
}

.itemimg {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    box-shadow: 0px 0px 7px rgb(95, 61, 29);
}

.itemimg_sm {
    width: 30%;
    height: auto;
    display: block;
    margin: 20px auto;
    box-shadow: 0px 0px 7px rgb(95, 61, 29);
}

.item {
    margin: 0px 0px 20px 0px;
}


#footerlegal {
    margin-top: 100px;
    font-size: 10px;
}

.item .itemcontent {
    margin: 10px 40px 0px 40px;
}

.left_align {
    text-align: left;
}

.center_align {
    text-align: center;
}

.pointer {
    font-size: 60px;
    color: rgb(204, 175, 121);
    display: block;
    margin-bottom: -30px;
    margin-top: -4px;
    text-shadow: 0px 0px 2px rgb(95, 61, 29);
}

.division {
    background-color: rgb(209, 168, 31);
    border-color: rgb(95, 61, 29);
    height: 5px;
    width: 60%;
    margin: 20px auto 20px auto;
    box-shadow: 0px 0px 2px rgb(95, 61, 29);
    display: block;
    border-radius: 10px;
}

.division2 {
    background-color: rgb(209, 168, 31);
    border-color: rgb(95, 61, 29);
    height: 5px;
    width: 50%;
    margin: -14px auto 20px auto;
    box-shadow: 0px 0px 2px rgb(95, 61, 29);
    display: block;
    border-radius: 10px;
}


/* SMALL */

@media only screen and (max-width: 480px) {

    .mycontainer {
        width: 100%;
        min-height: 800px;
        margin: 0px auto;
        padding: 20px 20px 5px 20px;
    }

    .mycontainer h1 {
        font-size: 22px;
    }

    .mycontainer h3 {
        font-size: 17px;
    }

    .mycontainer p {
        font-size: 15px;
    }

    .mycontainer .bodytext {
        font-size: 13px;
    }

    .itembar, .itembar_category {
        width: 100%;
    }

    button {
        font-size: 14px;
    }

    iframe {
        height: 30vh;
    }

    .icons img{
        width: 26px;
    }

    
}
    
/* MEDIUM */

@media only screen and (min-width: 481px) {

    .mycontainer {
        width: 100%;
        min-height: 800px;
        margin: 0px;
        padding: 20px 30px 5px 30px;
    }

    .mycontainer h1 {
        font-size: 30px;
    }

    .mycontainer h3 {
        font-size: 20px;
    }

    .mycontainer p {
        font-size: 18px;
    }

    .mycontainer .bodytext {
        font-size: 16px;
    }

    .itembar, .itembar_category {
        width: 75%;
    }

    iframe {
        height: 52vh;
    }

    .icons img {
        width: 44px;
    }


}
    
/* LARGE */

@media only screen and (min-width: 1024px) {

    .mycontainer {
        width: 970px;
        min-height: 800px;
        margin: 0px auto;
        padding: 20px 40px 5px 40px;
    }

    .mycontainer h1 {
        font-size: 30px;
    }

    .mycontainer h3 {
        font-size: 16px;
    }

    .mycontainer p {
        font-size: 20px;
    }

    .mycontainer .bodytext {
        font-size: 16px;
    }

    .itembar, .itembar_category {
        width: 50%;
    }

    iframe {
        height: 60vh;
    }

    .icons img{
        width: 54px;
    }
}