<div class="container">

    <h1>Adam J. Sikora</h1>
    <h3>-Software Developer-</h3>
    <p><a href="mailto:adamjsikora@gmail.com">adamjsikora@gmail.com</a> - 708.764.0029 - <a href="https://www.linkedin.com/in/adamjsikora/">linkedin.com/in/adamjsikora</a></p>

    <div class="division"></div>

    <!-- <p *ngIf="elevator==true">Focused developer looking to become a vital part of the team. Great balance between coding skill and soft skills. Effective communicator and teacher. Eager to learn deeply and be coached. Eager to build quality software and write beautiful code. Strong ability to see both the big and the small and how important the one is to the other. I lean towards back-end, but I have a background in film/visuals/videogames, so I know why things should look and feel good too.</p>

    <div *ngIf="elevator==true" class="division"></div> -->

    <router-outlet></router-outlet>

    <!-- <app-projects></app-projects> -->

</div>