

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* outline: 1px dotted red; */
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.mycontainer {
    background-color: rgb(160, 163, 154);
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}



.division {
    background-color: rgb(216, 216, 216);
    height: 5px;
    width: 80%;
    margin: 20px auto 20px auto;
    box-shadow: 0px 0px 3px rgb(216, 216, 216);
    display: block;
    border-radius: 10px;
}


button {
    margin: 0px auto;
    display: block;
}

h1 {
    text-align: center;
    color: rgb(216, 216, 216)
}

h3 {
    text-align: center;
}


.midicon {
    margin: 0px 30px;
}

.rightmidicon {
    margin-right: 30px;
}

img {
    margin-top: 10px;
    height: 32px;
    width: auto;
}


.btn-success {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    height: 24px;
    line-height: 10px;
    box-shadow: 0px 0px 1px 2px black;
}








/* SMALL */

@media only screen and (max-width: 480px) {

    .mycontainer {
        width: 100%;
        min-height: 800px;
        margin: 0px auto;
        padding: 20px;
    }

    .mycontainer h1 {
        font-size: 30px;
    }

    .mycontainer h3 {
        font-size: 16px;
    }

    .mycontainer p {
        font-size: 12px;
    }
    
}
    
/* MEDIUM */

@media only screen and (min-width: 481px) {

    .mycontainer {
        width: 100%;
        min-height: 800px;
        margin: 0px;
        padding: 20px 30px;
    }

    .mycontainer h1 {
        font-size: 30px;
    }

    .mycontainer h3 {
        font-size: 16px;
    }

    .mycontainer p {
        font-size: 12px;
    }

}
    
/* LARGE */

@media only screen and (min-width: 1024px) {

    .mycontainer {
        width: 970px;
        min-height: 800px;
        margin: 0px auto;
        padding: 20px 40px;
    }

    .mycontainer h1 {
        font-size: 30px;
    }

    .mycontainer h3 {
        font-size: 16px;
    }

    .mycontainer p {
        font-size: 12px;
    }


}