<div class="mycontainer">

    <h1>Adam J. Sikora</h1>
    <h3>-Software Engineer-</h3>
    <p><a href="mailto:adamjsikora@gmail.com">adamjsikora@gmail.com</a> - 708.764.0029
    <p>
        <a href="https://www.linkedin.com/in/adamjsikora/"><img src="assets/images/icons/icon_linkedin.png" alt="LinkedIn Icon"></a>
        <a class="midicon" href="https://www.youtube.com/channel/UCQd1p4LLjIFoVrocGAS9bdQ"><img src="assets/images/icons/icon_youtube.png" alt="Youtube Icon"></a>
        <a class="rightmidicon" href="https://twitter.com/vavavacudagames"><img src="assets/images/icons/icon_twitter.png" alt="Twitter Icon"></a>
        <a href="https://github.com/Vacuda"><img src="assets/images/icons/icon_github.png" alt="Github Icon"></a>
    </p>


    <div class="division"></div>
    <div class="division2"></div>


    <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>


</div>