<div class="inner">

    <button class="btn btn-success" [routerLink]="['/']">-Back-</button>

    <h1>Swedish Mountain Manicure</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut, deserunt hic voluptatibus doloremque enim veniam nemo. Iure impedit ipsa porro eum asperiores est quae praesentium, suscipit, quo laborum dolor.</p>
    <h4>Technologies</h4>
    <p><a href="https://www.scirra.com/">Built using Construct 2 (Visual Coding Language)</a></p>

    <h5>You are Nail Polish, Explore the Mountain, Its in Sweden.</h5>
    <img src="assets/images/swedish_mountain_manicure/full.gif" alt="...">

    <h5>Different Nail Polish, Different Game Play</h5>
    <img src="assets/images/swedish_mountain_manicure/character.gif" alt="...">

    <h5>Nifty Teleport Animation</h5>
    <img src="assets/images/swedish_mountain_manicure/teleport.gif" alt="...">

    <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>

</div>