<div class="inner">

    <button class="btn btn-success" [routerLink]="['/']">-Back-</button>

    <h1>Products and Categories Exercise</h1>

    <h4>Technologies</h4>
    <p>C#, .NET Core, MySQL</p>

    <a class="btn btn-danger" href="https://github.com/Vacuda/Products_Categories">-Github-</a>

    <h5>Adding and Linking Books and Authors</h5>
    <img src="assets/images/products_categories/full.gif" alt="...">

    <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>

</div>