<div class="inner">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>

        <h1>Products and Categories Exercise</h1>

        <h4>Technologies</h4>
        <p>C#, .NET Core, MySQL</p>

        <a class="btn btn-danger" href="https://github.com/Vacuda/Products_Categories">-Github-</a>

        <h5>Adding, Editing, and Linking Products and Categories</h5>
        <img src="assets/images/products_categories/full.gif" alt="Animated Gif Showing Functionality">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>

</div>