<div class="inner">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>

    <div class="division"></div>
    <div class="division2"></div>

        <h1>Unreal Engine Experience</h1>

        <p>I'm currently developing a procedurally-generated game, and I'm utilizing the Unreal Engine to build it. It's being built
            mainly with C++, but I'm using Blueprints for materials and menus.</p>

        <h4>Areas Of Focus</h4>
        <p>C++ Integration With Engine, Material Blueprints, Widget Blueprints</p>

        <a class="btn btn-danger" href="https://github.com/Vacuda/Partial_Talismans">-Github Samples-</a>

        <h5>C++ Integration</h5>
        <img src="assets/images/unreal/code_1.png" alt="Screenshot of C++ Code">

        <h5>Material Blueprints</h5>
        <img src="assets/images/unreal/blueprints.png" alt="Screenshot of Blueprints in Action">

        <h5>Texture Guide</h5>
        <img src="assets/images/unreal/texture_guide.png" alt="Texture Guide Screenshot">

        <h5>Fine Tuned Material UVs on Pieces</h5>
        <img src="assets/images/unreal/radialchoice.png" alt="RadialChoice Screenshot">


    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>

</div>