<div class="inner">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>

        <h1>Unreal Engine Experience</h1>

        <p>I wanted to work with Unreal and C++ to gain experience with an industry standard engine.  I'm currently developing a game 
            that needs fine integration with Material Blueprints, so I have been able to get some exposure to Blueprints too.</p>

        <h4>Areas Of Focus</h4>
        <p>C++ Integration, Material Blueprints</p>

        <a class="btn btn-danger" href="https://github.com/Vacuda/Talismans/tree/master/Source/Talismans">-Github-</a>

        <h5>C++ Integration</h5>
        <img src="assets/images/unreal/code_1.png" alt="Screenshot of C++ Code">

        <h5>Material Blueprints</h5>
        <img src="assets/images/unreal/blueprints.png" alt="Screenshot of Blueprints in Action">

        <h5>Texture Guide</h5>
        <img src="assets/images/unreal/texture_guide.png" alt="Texture Guide Screenshot">

        <h5>Fine Tuned Material UVs on Pieces</h5>
        <img src="assets/images/unreal/radialchoice.png" alt="RadialChoice Screenshot">

        <h5>Early Board</h5>
        <img src="assets/images/unreal/early_ue4.png" alt="Early Screenshot of a Puzzle Board">

        <h5>Early Room</h5>
        <img src="assets/images/unreal/early_room.png" alt="Early Screenshot of a Room">

        <h5>Early Procedural Generation</h5>
        <img src="assets/images/unreal/procedurally_generated.png" alt="Early Screenshot of a Room Procedurally_Generated">


    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>

</div>