<div class="inner">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>

    <div class="division"></div>
    <div class="division2"></div>

        <h1>Managing Products Exercise</h1>

        <h4>Technologies</h4>
        <p>Typescript, MongoDB, Express, Angular, Node.js</p>

        <a class="btn btn-danger" href="https://github.com/Vacuda/Product_Manager">-Github-</a>

        <h5>Adding, Editing, and Viewing your Products</h5>
        <img src="assets/images/product_manager/full.gif" alt="Animated Gif Showing Functionality">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>

</div>