<div class="inner">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>

    <div class="division"></div>
    <div class="division2"></div>

        <h1>Blender Experience</h1>

        <p>I've been using Blender for my current project, Talismans. My levels are procedurally generated, so
            a number of things have been built with this in mind.</p>

        <p>Puzzle pieces had to be very precise, so they can procedurally be made and still fit together in a consistent manner.</p>

        <h4>Areas Of Focus</h4>
        <p>Model Building, UV Maps, Minor Rigging</p>

        <h5>Many Different Models To Break!</h5>
        <img src="assets/images/talismans/vessels.png" alt="Many Containers Surrounding Character">

        <h5>Pieces That Fit Evenly</h5>
        <img src="assets/images/blender/pieces.png" alt="Various Pieces On The Board">

        <h5>Many Different Puzzle Sizes!</h5>
        <img src="assets/images/blender/many_grids.gif" alt="Gif of Different Grids In Game">

        <h5>Dynamically Built Variant Doors</h5>
        <img src="assets/images/blender/door.gif" alt="Gif Showing Pieces Of Door Swapping">

        <h5>Currently, Working On Rigging Main Character</h5>
        <img src="assets/images/blender/character_rigging.png" alt="Blender Shot Of Rigging On Character">

        <h5>Procedurally-Generated Room Models</h5>
        <img src="assets/images/blender/rooms.png" alt="Various Models of a Room Kit">

        <h5>Obligatory Tutorial Donut</h5>
        <img src="assets/images/blender/donut.png" alt="Computer Graphic Donut">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>

</div>