<div class="inner">

    <button class="btn btn-success" [routerLink]="['/']">-Back-</button>

    <h1>Cake-Rating Exercise</h1>

    <h4>Technologies</h4>
    <p>Typescript, MongoDB, Express, Angular, Node.js</p>

    <a class="btn btn-danger" href="https://github.com/Vacuda/Rate_My_Cakes">-Github-</a>

    <h5>Adding Cakes and Rating Cakes</h5>
    <img src="assets/images/rate_my_cakes/full.gif" alt="Animated Gif Showing Functionality">

    <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>

</div>