<div class="inner">

    <button class="btn btn-success" [routerLink]="['/']">-Back-</button>

    <h1>Sacred Coins</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut, deserunt hic voluptatibus doloremque enim veniam nemo. Iure impedit ipsa porro eum asperiores est quae praesentium, suscipit, quo laborum dolor.</p>
    <h4>Technologies</h4>
    <p><a href="https://www.scirra.com/">Built using Construct 2 (Visual Coding Language)</a></p>

    <h5>Start your Adventure</h5>
    <img src="assets/images/sacred_coins/start.gif" alt="...">

    <h5>Get and Use Items</h5>
    <img src="assets/images/sacred_coins/interact.gif" alt="...">

    <h5>Full, Interactive Map, Builds as you Explore</h5>
    <img src="assets/images/sacred_coins/map.gif" alt="...">

    <h5>Find Multiple Rings to get past the Barrier</h5>
    <img src="assets/images/sacred_coins/rings.gif" alt="...">

    <h5>Built using a Visual Coding Language</h5>
    <img src="assets/images/sacred_coins/coderun.gif" alt="...">

    <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>

</div>