<div class="inner">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>

    <div class="division"></div>
    <div class="division2"></div>

        <h1>Coin Machine API</h1>

        <p>I learned Ruby on Rails for this assignment from a prospective employer.  It's a basic CRUD API for depositing and withdrawing different coins from a machine.  It manages the possible coins and all of the transactions.  It alerts admins when the coin levels are too low.  It also uses a rudamentary, non-secure api key check before performing an action.</p>
        <h4>Technologies</h4>
        <p>Ruby on Rails, JSON, SQLite, Postman</p>

        <a class="btn btn-danger" href="https://github.com/Vacuda/Coin_Machine">-Github-</a>

        <h5>Basic CRUD for Coins</h5>
        <img src="assets/images/coin_machine/coins.gif" alt="Animated Gif Showing Functionality">

        <h5>Basic CRUD for Transactions</h5>
        <img src="assets/images/coin_machine/transactions.gif" alt="Animated Gif Showing Functionality">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>

</div>