<div class="inner">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>

    <div class="division"></div>
    <div class="division2"></div>

        <img class="doglogo" src="assets/images/fetch_friend/faf_screenshot.png" alt="Framed Picture Of Dog">

        <p>Fetch A Friend is a dog adoption app.  It communicates with an external database and api to retrieve dog 
            information.  The results are paginated and can be filtered by breed, age, and name.  Choose your favorites and 
            you'll be matched with your new friend!
        </p>
        <a class="btn btn-danger" href="https://vacuda.github.io/FetchAFriend/">- Try Me Out! -</a>

        <h4>Technologies</h4>
        <p>Javascript, React</p>

        <a class="btn btn-danger" href="https://github.com/Vacuda/FetchAFriend">-Github-</a>

        <h5>Who Will You Take Home?</h5>
        <img src="assets/images/fetch_friend/faf_match.gif" alt="Animated Gif Showing Match Functionality">

        <h5>Ascending & Descending Sort By Breed, Age, and Name</h5>
        <img src="assets/images/fetch_friend/faf_sort.gif" alt="Animated Gif Showing Sort Functionality">

        <h5>Find Specific Breeds</h5>
        <img src="assets/images/fetch_friend/faf_breedsearch.gif" alt="Animated Gif Showing Breed Search Functionality">
        
        <h5>Search With Age Restrictions</h5>
        <img src="assets/images/fetch_friend/faf_agesearch.gif" alt="Animated Gif Showing Age Search Functionality">

        <h5>Login</h5>
        <img src="assets/images/fetch_friend/faf_login.gif" alt="Animated Gif Showing Login Functionality">


    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>

</div>