<div class="inner">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>

    <div class="division"></div>
    <div class="division2"></div>

        <h1>LAVALVALVALVKAL Shelf</h1>

        <p>I used old POS software for a long time at a prior job.  I wanted to recreate it in a simple form and make it look much nicer!</p>
        <h4>Technologies</h4>
        <p>Typescript, MongoDB, Express, Angular, Node.js</p>

        <a class="btn btn-danger" href="https://github.com/Vacuda/InventoryShelf">-Github-</a>

        <h5>Adding, Editing, and Deleting a Product</h5>
        <img src="assets/images/inventory_shelf/add_edit_delete.gif" alt="Animated Gif Showing Functionality">

        <h5>Setting up a Keymap</h5>
        <img src="assets/images/inventory_shelf/keymap.gif" alt="Animated Gif Showing Functionality">

        <h5>Receive Inventory into the System</h5>
        <img src="assets/images/inventory_shelf/receive.gif" alt="Animated Gif Showing Functionality">

        <h5>Purchase your Snacks!</h5>
        <img src="assets/images/inventory_shelf/purchase.gif" alt="Animated Gif Showing Functionality">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>

</div>