<div class="inner">

    <button class="btn btn-success" [routerLink]="['/']">-Back-</button>

    <h1>Inventory Shelf</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut, deserunt hic voluptatibus doloremque enim veniam nemo. Iure impedit ipsa porro eum asperiores est quae praesentium, suscipit, quo laborum dolor.</p>
    <h4>Technologies</h4>
    <p>MongoDB, Express, Angular, Node.js</p>

    <a class="btn btn-danger" href="https://github.com/Vacuda/InventoryShelf">-Github-</a>

    <h5>Adding, Editing, and Deleting a Product</h5>
    <img src="assets/images/inventory_shelf/add_edit_delete.gif" alt="...">

    <h5>Setting up a Keymap</h5>
    <img src="assets/images/inventory_shelf/keymap.gif" alt="...">

    <h5>Receive Inventory into the System</h5>
    <img src="assets/images/inventory_shelf/receive.gif" alt="...">

    <h5>Purchase your Snacks!</h5>
    <img src="assets/images/inventory_shelf/purchase.gif" alt="...">

    <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>

</div>