<div class="inner">

    <button class="btn btn-success" [routerLink]="['/']">-Back-</button>

    <h1>Jigsaw Registry</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut, deserunt hic voluptatibus doloremque enim veniam nemo. Iure impedit ipsa porro eum asperiores est quae praesentium, suscipit, quo laborum dolor.</p>
    <h4>Technologies</h4>
    <p>Python, Django, SQLite</p>

    <a class="btn btn-danger" href="https://github.com/Vacuda/jigsaw_registry">-Github-</a>

    <h5>Log all of your Jigsaw Puzzles</h5>
    <img src="assets/images/jigsaw_registry/view_puzzle.gif" alt="...">

    <h5>Adding a Puzzle into the Database</h5>
    <img src="assets/images/jigsaw_registry/add_puzzle.gif" alt="...">

    <h5>Adding a Project into the System</h5>
    <img src="assets/images/jigsaw_registry/add_project.gif" alt="...">

    <h5>Check out your Stats</h5>
    <img src="assets/images/jigsaw_registry/stats.gif" alt="...">

    <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>

</div>