* {
    vertical-align: top;
}

img {
    margin: 5px auto;
    height: 40%;
    width: auto;
    max-width: 90%; 
    box-shadow: 0px 0px 3px 2px black;
}

.inner {
    margin: 0px auto;
    display: block;
    text-align: center;
}

/* .division {
    background-color: rgb(216, 216, 216);
    height: 5px;
    width: 80%;
    margin: 20px auto 20px auto;
    box-shadow: 0px 0px 3px rgb(216, 216, 216);
    display: block;
    border-radius: 10px;
} */

.division {
    background-color: rgb(209, 168, 31);
    border-color: rgb(95, 61, 29);
    height: 5px;
    width: 60%;
    margin: 20px auto 20px auto;
    box-shadow: 0px 0px 2px rgb(95, 61, 29);
    display: block;
    border-radius: 10px;
}

.division2 {
    background-color: rgb(209, 168, 31);
    border-color: rgb(95, 61, 29);
    height: 5px;
    width: 50%;
    margin: -14px auto 20px auto;
    box-shadow: 0px 0px 2px rgb(95, 61, 29);
    display: block;
    border-radius: 10px;
}

/* .sammy{
    background-image: radial-gradient(rgb(209, 168, 31),white 98%);
} */

p {
    text-align: center;
}

/* p {
    max-height: 20%;
} */


.card-header {
    margin: 0px auto 5px auto;
    padding: 8px;
    /* font: pink; */
    display: block;
    /* background-color: rgb(145, 145, 145); */
    /* background-color: rgb(138, 117, 47); */
    background-image: radial-gradient(rgb(229, 206, 134),rgb(209, 168, 31));
    /* background-image: linear-gradient(black 50%,white, black); */
}

.card {
    /* background-color: rgb(216, 216, 216); */
    background-color: rgb(228, 226, 208);
    width: 40%;
    margin: 20px 0px;
    height: 200px;
    display: inline-block;
    box-shadow: 4px 4px 3px 2px rgb(104, 88, 47);
    cursor: pointer;
    overflow: hidden;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 6px 6px 3px 2px rgb(104, 88, 47);
}

.card-body {
    height: 40%;
    padding: 5px 5px 5px 5px;
}

.card-text-tech {
    color: rgb(85, 81, 81);
    margin: 0px 0px 5px 0px;
}

.elevator {
    font-size: 13px;
}

button {
    font-size: 20px;
}


/* SMALL */

@media only screen and (max-width: 480px) {

    .card-header {
        font-size: 25px;
    }

    .card-text-tech {
        font-size: 20px;
        margin: 0px 0px 0px 0px;
    }

    .card-text {
        font-size: 18px;
    }

    .card {
        width: 90%;
        height: auto;
        /* min-height: 600px; */
        margin: 20px 0px;
        /* height: 1000px; */
        display: inline-block;
    }

    img {
        width: 60%;
        height: auto;
        margin: 15px auto 0px auto;
    }
 
    
}

@media only screen and (min-width: 481px) {
    .card {
        
        height: 200px;
        width: 46%;
        margin: 20px 2%;
        display: inline-block;
    }

    .card-header {
        font-size: 12px;
    }

    .card-text-tech {
        font-size: 12px;
        margin: 5px 0px 0px 0px;
    }

    .card-text {
        font-size: 10px;
    }

    button {
        font-size: 14px;
    }


}



/* MEDIUM */
    
 @media only screen and (min-width: 547px) {
    .card {
        
        height: 200px;
        width: 46%;
        margin: 20px 2%;
        display: inline-block;

    }

    .card-header {
        font-size: 14px;
    }

    .card-text-tech {
        font-size: 12px;
        margin: 5px 0px 0px 0px;
    }

    .card-text {
        font-size: 10px;
    }

    /* img {
        height: 40%;
        width: auto;
    } */

}
    
/* LARGE */

@media only screen and (min-width: 1024px) {
    .card {
        width: 29.33%;
        height: 200px;
        margin: 20px 2%;
        display: inline-block;
    } 

    .card-header {
        font-size: 14px;
    }

    .card-text-tech {
        font-size: 14px;
        margin: 5px 0px 0px 0px;
    }

    .card-text {
        font-size: 12px;
    }




}