
<p class="elevator">Focused game developer looking to become a vital part of a quality software development team.  Great balance between technical skills and soft skills.  Effective communicator, as a leader and a colleague.  Highly adept at seeing how smaller details and components integrate with the larger whole.  Background in filmmaking, visual arts, and management.</p>

<div class="division"></div>

<div class="inner">

    <div class="card">
        <div class="card-header">Talismans Of Genyatium</div>  
        <img src="assets/images/talismans/screenshot_talismans.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Game I'm Currently Developing</p>
            <button class="btn btn-success" [routerLink]="['/talismans']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">Inventory Shelf</div>  
        <img src="assets/images/inventory_shelf/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Manage Inventory, Make Purchases</p>
            <button class="btn btn-success" [routerLink]="['/web/inventory']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Honey Hives</div>  
        <img src="assets/images/honey_hives/screenshot_honeyhives.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Game I'm Currently Developing</p>
            <button class="btn btn-success" [routerLink]="['/web/honey_hives']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Coin Machine API</div>  
        <img src="assets/images/coin_machine/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Basic CRUD for Coin Management</p>
            <button class="btn btn-success" [routerLink]="['/web/coin_machine']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Diabetes Treatment App</div>  
        <img src="assets/images/diabetes_treatment/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Medical Diagnosis Aid</p>
            <button class="btn btn-success" [routerLink]="['/web/diabetes']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>


    <div class="card">
        <div class="card-header">Swedish Mountain Manicure</div>  
        <img src="assets/images/swedish_mountain_manicure/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Platformer Video Game</p>
            <button class="btn btn-success" [routerLink]="['/web/swedish']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Wedding Planner</div>  
        <img src="assets/images/wedding_planner/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Exercise with Login and Registration</p>
            <button class="btn btn-success" [routerLink]="['/web/wedding_planner']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Sacred Coins</div>  
        <img src="assets/images/sacred_coins/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Vast Choose-Your-Own-Adventure</p>
            <button class="btn btn-success" [routerLink]="['/web/sacred']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Jigsaw Registry</div>  
        <img src="assets/images/jigsaw_registry/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Jigsaw Puzzle Hobby Organizer</p>
            <button class="btn btn-success" [routerLink]="['/web/jigsaw']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Hostility Skirmish</div>  
        <img src="assets/images/hostility_skirmish/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Online Multiplayer Battle Game</p>
            <button class="btn btn-success" [routerLink]="['/web/hostility']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Ninjaman</div>  
        <img src="assets/images/ninjaman/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Pacman Clone</p>
            <button class="btn btn-success" [routerLink]="['/web/ninjaman']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Books and Authors</div>  
        <img src="assets/images/books_authors/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Books and Authors Exercise</p>
            <button class="btn btn-success" [routerLink]="['/web/books_authors']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Gold Getter</div>  
        <img src="assets/images/gold_getter/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Gold-Getting Exercise with Python</p>
            <button class="btn btn-success" [routerLink]="['/web/gold_getter']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Rate My Cakes</div>  
        <img src="assets/images/rate_my_cakes/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Cake-Rating Exercise</p>
            <button class="btn btn-success" [routerLink]="['/web/rate_my_cakes']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Products and Categories</div>  
        <img src="assets/images/products_categories/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Product and Category Exercise</p>
            <button class="btn btn-success" [routerLink]="['/web/products_categories']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Product Manager</div>  
        <img src="assets/images/product_manager/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text">Managing Products Exercise</p>
            <button class="btn btn-success" [routerLink]="['/web/product_manager']" (click)="toTop()">Check Me Out</button>
        </div>
    </div>

</div>

