
<p class="elevator">
    Focused developer looking to become a vital part of a software development 
    team.  Great balance between technical skills and soft skills.  Effective communicator 
    as a leader and a colleague.  Highly adept at seeing how smaller details and components 
    integrate with the larger whole.  Background in filmmaking, visual arts, and management.</p>

<div class="division"></div>
<div class="division2"></div>

<div class="inner">

    <div class="card" [routerLink]="['/web/fetch_friend']" (click)="toTop()">
        <div class="card-header">Fetch A Friend</div>  
        <img src="assets/images/fetch_friend/faf_screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- Javascript / React -</p>
            <p class="card-text">Dog Adoption App</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/web/inventory']" (click)="toTop()">
        <div class="card-header">Inventory Shelf</div>  
        <img src="assets/images/inventory_shelf/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- Typescript / Angular -</p>
            <p class="card-text">Manage Inventory, Make Purchases</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/web/coin_machine']" (click)="toTop()">
        <div class="card-header">Coin Machine API</div>  
        <img src="assets/images/coin_machine/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- Ruby On Rails -</p>
            <p class="card-text">Basic CRUD for Coin Management</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/web/crop_tool']" (click)="toTop()">
        <div class="card-header">BMP Image Cropper</div>  
        <img src="assets/images/crop_tool/screenshot_crop_tool.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- C++ -</p>
            <p class="card-text">Commandline Tool To Crop Images</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/web/receipts']" (click)="toTop()">
        <div class="card-header">Receipt Processor</div>  
        <img src="assets/images/receipts/screenshot_receipts.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- Go -</p>
            <p class="card-text">Web Service For Receipt Processing</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/web/diabetes']" (click)="toTop()">
        <div class="card-header">Diabetes Treatment App</div>  
        <img src="assets/images/diabetes_treatment/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- Typescript / Angular -</p>
            <p class="card-text">Medical Diagnosis Aid</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/web/wedding_planner']" (click)="toTop()">
        <div class="card-header">Wedding Planner</div>  
        <img src="assets/images/wedding_planner/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- C# / .NET Core -</p>
            <p class="card-text">Login and Registration Exercise</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/web/jigsaw']" (click)="toTop()">
        <div class="card-header">Jigsaw Registry</div>  
        <img src="assets/images/jigsaw_registry/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- Python / Django -</p>
            <p class="card-text">Jigsaw Puzzle Hobby Organizer</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/web/hostility']" (click)="toTop()">
        <div class="card-header">Hostility Skirmish</div>  
        <img src="assets/images/hostility_skirmish/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- C# / .NET Core -</p>
            <p class="card-text">Online Multiplayer Battle Game</p>
        </div>
    </div>

    <div class="division"></div>
    <div class="division2"></div>

    <div class="videogame">Video Game Development</div>

    <div class="card" [routerLink]="['/web/talismans']" (click)="toTop()">
        <div class="card-header">Talismans Of Genyatium</div>  
        <img src="assets/images/talismans/screenshot_talismans.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- C++ / Unreal -</p>
            <p class="card-text">Procedurally-Generated Jigsaw Game</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/web/honey_hives']" (click)="toTop()">
        <div class="card-header">Honey Hives</div>  
        <img src="assets/images/honey_hives/screenshot_honeyhives.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- C# / Unity -</p>
            <p class="card-text">Procedurally-Generated Logic Game</p>
        </div>
    </div>


</div>

