* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* outline: 1px dotted red; */
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    /* padding-top: 100px; */
    /* height: 500px; */
    /* background-image: linear-gradient(black 10%, white 90%); */
}

.smaller-icon{
    /* display: inline-block; */
    width: 156px;
    height: auto;
}

.no-separation{
    width: 156px;
}

.scroll{
    font-size: 11px;
    font-weight: 100;
}

.divider{
    height: 15px;
    background-image: linear-gradient(rgb(214, 214, 214) 0%, white 90%);
}

.orange{
    color: #ff9900;
    text-shadow: 0px 1px 0px rgb(224, 125, 12);
}

input{
    border: 1px solid black;
    height: 30px;
    background-color: rgb(236, 236, 236);
}

.btn {
    width: 140px;
    margin-left: 15px;
    font-size: 15px;
    color: white;
    /* text-shadow: 0px 0px 13px rgb(80, 43, 0); */
    height: 30px;
    border: 1px solid black;
    border-radius: 1px 1px 3px black;
    box-shadow: 0px 0px 3px rgb(63, 63, 63);
    background-color: #ff9900;
}

.fetch {
    line-height: 15px;
}

.result {
    margin-top: -5px;
    font-size: 80px;
}

li {
    list-style-type: none;
}






footer {
background-color: #fff;
}

footer * {
    margin: 0px;
    padding: 0px;
}

footer	.zig-zag-top:before{
    background: 
                linear-gradient(-45deg, #ff9900 16px, red 16px, blue 16px,  transparent 0), 
                linear-gradient(45deg, #ff9900 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 22px 32px;
    content: " ";
    display: block;

    height: 32px;
    width: 100%;

    position: relative;
    bottom: 64px;
    left:0;
}

footer	div > * {
    margin: 0 40px;
}

footer	.zig-zag-top{
    margin: 32px 0;
    margin-bottom: 0;
    background: #ff9900;
}

footer	.zig-zag-top{
    padding: 32px 0;
}

h1 {
    margin-bottom: 10px;
}

.last_input {
    margin-bottom: 10px;
}


































@media only screen and (max-width: 480px) {

 
    
}
    
@media only screen and (min-width: 481px) {



}
    
@media only screen and (min-width: 1024px) {



}