<div class="mycontainer">

    <div>
        <button class="btn btn-success" [routerLink]="['/']">&laquo; Adam's Portfolio Site &laquo;</button>
    </div>
    <div class="division"></div>
    <div class="division2"></div>

    <h1>Welcome to my game,</h1>
    <h1>Lionheart Games Person!</h1>
    <h3>You look rather cool today.  Did you get a haircut?</h3>
    <img class="lionlogo" src="assets/images/cater_lion_heart/lion_heart_logo.png" alt="Lionheart Logo">

    <div class="division"></div>
    <div class="division2"></div>

    <p>Anyway...</p>
    <h1>The Talismans Of Genyatium</h1>
    <img class="talismanlogo" src="assets/images/talismans/talismans_logo.png" alt="Talismans Logo">

    <p>
        <a class="icons" href="https://www.youtube.com/channel/UCQd1p4LLjIFoVrocGAS9bdQ"><img src="assets/images/icons/icon_youtube.png" alt="Youtube Icon"></a>
        <a class="midicon icons" href="https://twitter.com/vavavacudagames"><img src="assets/images/icons/icon_twitter.png" alt="Twitter Icon"></a>
        <a class="icons" href="https://github.com/Vacuda/Partial_Talismans"><img src="assets/images/icons/icon_github.png" alt="Github Icon"></a>
    </p>
    <div class="anime">(Is Not Anime...Sorry!)</div>
    &nbsp;

    <p>I've been developing this game whilst learning the Unreal Engine.</p>
    <p>It's written in C++ but also utilizes blueprints for materials and menus.</p>
    &nbsp;
    <p>Here's my latest DevLog:</p>
    <iframe src="https://www.youtube.com/embed/bsYTjPxUjUE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="division"></div>
    <div class="division2"></div>
    <p>And...</p>
    <p>Here's a breakdown of all the things:</p>
    &nbsp;

<!-- GENERAL -->
<div class="item" id="item_tagline">
    <div class="itembar_category btn">
        <h3>General</h3>
        <h3>&nbsp;</h3>
    </div>
</div>


    <!-- Tagline -->
    <div class="item" id="item_tagline">

        <div class="itembar btn" (click)="toggle_item_tagline()">
            <h3>Game Tag Line</h3>
            <h3>&#9660;</h3>
        </div>

        <div *ngIf="item_tagline==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                The Talismans Of Genyatium is a calm, flow-inducing, procedurally-generated, multiple-puzzle, jigsaw puzzle game
                based on hexagons and triangles and ... grief.  You find the pieces in containers piled up in a typical level,
                no enemies, no deaths, just lots of things to break and lots of things to put back into place.
            </p>
        </div>

    </div>

    <!-- Procedural Generation Design -->
    <div class="item" id="item_prod_gen_design">

        <div class="itembar btn" (click)="toggle_item_prod_gen_design()">
            <h3>Procedural Generation Design</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_prod_gen_design==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                From the beginning, this game idea needed to be procedurally-generated in a number of different ways.  
                I knew that this would complicate the development process, but I just trusted that I would be able to 
                figure it out when I got there.  Knowing this from the beginning helped me to frame every decision.  
                I could build something as a placeholder, but if I knew it would need to be dynamic later, I consistently 
                had to think about building the foundation that would enable that.
            </p>
            <div>&nbsp;</div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                What you learn about procedural generation 
                is not really to build something that has no constraints, but to build something with specific and consistent 
                constraints, in which you can fill the spaces in with randomness.
            </p>
            <div>&nbsp;</div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                I got it working great!  There's much work 
                still to be done to make the physical levels more appealing, but as for the dynamic puzzles, the foundation 
                is strong.  Some variables already effectively alter how a world is built, and the plan is to just add more, 
                making puzzle worlds entirely customizable.
            </p>
        </div>
    </div>

    <!-- Learning Unreal Engine -->
    <div class="item" id="item_learn_unreal">

        <div class="itembar btn" (click)="toggle_item_learn_unreal()">
            <h3>Learning Unreal Engine</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_learn_unreal==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <img class="itemimg_sm" src="assets/images/unreal/screenshot.png" alt="Unreal Engine Logo">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                I am developing this game as I learn the Unreal Engine.  I wanted to jump into the industry standard engine 
                to expose myself to the kind of tool I'd be working with on the job.  While I've come a long way, this thing 
                is massive and obtuse for a beginner.  The more you know, the more you know you don't know. And while I'm 
                familiar with many pieces of software, its been a journey navigating Unreal and learning it as a language 
                itself, let alone connecting it to my C++ code.
            </p>
        </div>
    </div>

<!-- CODE DESIGN -->
<div class="item" id="item_tagline">
    <div class="itembar_category btn">
        <h3>Code Design</h3>
        <h3>&nbsp;</h3>
    </div>
</div> <!-- <div>&nbsp;</div> -->

    <!-- C++ Integration -->
    <div class="item" id="item_cpp_integration">

        <div class="itembar btn" (click)="toggle_item_cpp_integration()">
            <h3>C++ Integration</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_cpp_integration==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                It was important to me to learn to write a game in C++ code rather than blueprints.  In fact, busting 
                out a Material Blueprint was more intimidating than working with C++ code.  But it took awhile to really 
                learn(and I'm still learning, with every new UE4 tool I use) how to connect the C++ code to the editor.
            </p>
            <img class="itemimg" src="assets/images/talismans/cpp_integration.png" alt="C++ Code">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                In a lot of ways, this has been my biggest obstacle in learning UE4.  You have to learn how to exchange 
                references between code and editor.  You have to understand the object inheritance trees and how and 
                when to use which.  You have to understand how and when to instantiate actors or objects and why.
            </p>
        </div>
    </div>

    <!-- Communication Between Everything -->
    <div class="item" id="item_communication">

        <div class="itembar btn" (click)="toggle_item_communication()">
            <h3>Communication Between Everything</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_communication==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                I'm big into code organization, so I was creating new classes to house different sections of code.  
                Quickly, this meant that any time I needed one class to talk to another, I needed to first hook 
                them up to each other.  This was becoming cumbersome each time, so I created the Hub. This was 
                a housing class that would be built at the beginning of a level and it housed all of the relevant connections.  
                Now, a class only needs to hook up to the Hub, and it can start to talk to eveyone.
            </p>
            <img class="itemimg" src="assets/images/talismans/hub_code.png" alt="C++ Code">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                I'm currently 
                rethinking this, though.  The Hub builds and houses all of the classes I created to organize code, 
                but as I move away from OOP, I will be translating some of those classes to namespaces and static 
                functions.  Now, instead of Hub-> BoardArbiter-> RotateThisPiece(GrabbedPiece), I'll be able to write 
                BoardArbiter:: RotateThisPiece(GrabbedPiece) and I won't need to create a BoardArbiter object. Now, 
                we're thinking without bloated objects!
            </p>
        </div>
    </div>

    <!-- Naming Importance -->
    <div class="item" id="item_naming">

        <div class="itembar btn" (click)="toggle_item_naming()">
            <h3>Naming Importance</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_naming==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                I think I'm good at naming variables and functions.  The shape of the characters, the patterns 
                used, and what the words themselves mean.  All of these can be combined to create clear and 
                robust naming conventions.
            </p>
            <img class="itemimg" src="assets/images/talismans/naming_code.png" alt="Puzzle In Progress">
        </div>
    </div>

    <!-- Clear Comments -->
    <div class="item" id="item_comments">

        <div class="itembar btn" (click)="toggle_item_comments()">
            <h3>Clear Comments</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_comments==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                I'm glad I was able to work on this project before working on a bigger team.  I've developed 
                my own style of how I prefer to write comments, and though I know I'll have to adapt that style 
                to the team's conventions, I think it was very helpful to develop my own first.  I'm more worried 
                that I write too many comments, so I think I'll be fine.
            </p>
            <img class="itemimg" src="assets/images/talismans/comments_code.png" alt="Puzzle In Progress">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                My comments are the pseudo code version of what the code does.  The code, 
                then, is merely an implementation of those comments.  Thus, you can read the code, without 
                reading any of the actual code.
            </p>
        </div>
    </div>

    <!-- Pointers -->
    <div class="item" id="item_pointers">

        <div class="itembar btn" (click)="toggle_item_pointers()">
            <h3>Pointers</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_pointers==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <div class="pointer">*</div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                Using pointers effectively was an early hurdle that I needed to get right.  I had only learned 
                about them;  I hadn't used them much.  C++ and Unreal communicate together using them too, but 
                what really helped me was building this project.  My backend information needed to be secure if 
                I was going to reliably move pieces around the game without errors.  The information needed to stay 
                in one spot.  So, with pointers, when the player moves pieces around in the game, they are really just moving 
                pointers to that information.  And then, actors in the game are just representations of that information.
            </p>
        </div>
    </div>

    <!-- Save Games -->
    <div class="item" id="item_save_games">

        <div class="itembar btn" (click)="toggle_item_save_games()">
            <h3>Save Games</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_save_games==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                Early on, I researched how to implement save games.  So, I consolidated all the information that needed 
                to persist in one spot, and the game worked off that consolidated information.  A long 
                while passed, and I was ready to actually get save games working.  And without too much trouble, 
                I created a custom Save Game Object and successfully saved it and loaded it into a new game.  But 
                something was wrong...
            </p>
            <img class="itemimg" src="assets/images/talismans/save_game_1.png" alt="Screenshot Of Saving Not Working">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                All of my objects were gone!  I saved pointers to them, but of course, the 
                objects themselves didn't persist.  Although I did spend a lot of time trying to get my code to use 
                references to structs, the solution was to just reinstantiate those objects when reloading the game.  
                I had correctly collected most of the information needed anyway to do this except that I now needed 
                a new way to reference unique pieces.  Previously, I was using the pointers themselves as a form of 
                UID.  Now, I built my own UID to easily be able to rebuild objects upon loading a saved game. Success!
            </p>
            <img class="itemimg" src="assets/images/talismans/save_game_2.png" alt="Screenshot Of Saving Working">
        </div>
    </div>
    
    <!-- Material Blueprints and Piece Faces -->
    <div class="item" id="item_piece_faces">

        <div class="itembar btn" (click)="toggle_item_piece_faces()">
            <h3>Material Blueprints and Piece Faces</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_piece_faces==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                There was a key problem I needed to tackle with Material Blueprints, and I was doing it with no 
                prior experience with blueprints or materials.  I wanted to take one texture, the full puzzle 
                image, use it on a Material Instance, and to dynamically move the texture into its proper place 
                on each piece.  And rotate it accordingly!
            </p>
            <img class="itemimg" src="assets/images/talismans/piece_face_1.png" alt="Puzzle Images Off Kilter">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                Any variance would mess up the image when you put the 
                pieces together.  I wish I was making a game about Squares with the power of 2, but alas, hexagons 
                with a height of sqrt of 12288.
            </p>
            <img class="itemimg" src="assets/images/talismans/piece_face_2.png" alt="Successful Puzzle Image Alignment">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                But I finally got it!
            </p>
            <img class="itemimg" src="assets/images/talismans/piece_face_3.png" alt="Blueprint Screenshot Of Working Material">
        </div>
    </div>

    <!-- Precise UVs -->
    <div class="item" id="item_precise_uvs">

        <div class="itembar btn" (click)="toggle_item_precise_uvs()">
            <h3>Precise UVs</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_precise_uvs==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                The long lesson learned is that their needs to be a tight marriage between models, their UVs, 
                and how the texture is manipulated on the material blueprint, especially when your objects 
                need to be mathematically precise.
            </p>
            <img class="itemimg" src="assets/images/talismans/uvs.png" alt="Puzzle In Progress">
        </div>
    </div>

    <!-- Getting Pieces To Recognize Their Connections -->
    <div class="item" id="item_recognize_connections">

        <div class="itembar btn" (click)="toggle_item_recognize_connections()">
            <h3>Getting Pieces To Recognize Their Connections</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_recognize_connections==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                This was one of my largest coding problems on this project.  It involved many steps.  
                Each piece needs to store information for each other piece that it connects to.  First, 
                the unique ID of the piece it attaches to.  Second, the direction of the connection, 
                relative to a base rotation.  And finally, what segment of the other piece it needs to 
                be connected to.  All of this information is gathered when the puzzles are cut and checked 
                against when a piece is dropped.
            </p>
            <img class="itemimg" src="assets/images/talismans/recognize.png" alt="Puzzle In Progress">
        </div>
    </div>

    <!-- Connecting Pieces -->
    <div class="item" id="item_connecting_pieces">

        <div class="itembar btn" (click)="toggle_item_connecting_pieces()">
            <h3>Connecting Pieces</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_connecting_pieces==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                At first, I built the game to move pieces around the board.  When I approached the problem 
                of getting pieces to connect together, I knew I had to refactor.  So, I introduced Clusters.  
                Now, the player actually moves invisible containers around the board that can hold one or more 
                pieces.  Every piece starts with its own cluster.  When a connecting piece is found, the piece 
                is added to the initial cluster, and the second one is destroyed.
            </p>
            <img class="itemimg" src="assets/images/talismans/connecting_pieces.gif" alt="Puzzle In Progress">
        </div>
    </div>

    <!-- Rotating Pieces, Rotating Clusters! -->
    <div class="item" id="item_rotating">

        <div class="itembar btn" (click)="toggle_item_rotating()">
            <h3>Rotating Pieces, Rotating Clusters!</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_rotating==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                Each spot on the board has a unique address and part of that address is its rotation(Tri).  
                Col, Row, and Tri.  A piece can only rotate by 60 degrees, so Tri is represented by an 
                integer(1-6).  Now, it's easy enough to rotate a piece.  
            </p>
            <img class="itemimg" src="assets/images/talismans/piece_rotations.gif" alt="One Hex Rotation">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                It spins around one point, and 
                the Tri changes by 1.  If at 7, reset to 1.  The rotation of the actor cluster is rotated 
                accordingly, and the pieces are connected to the cluster.  But what happens if a large cluster contains 
                pieces in different Col and Row addresses?
            </p>
            <img class="itemimg" src="assets/images/talismans/cluster_rotations.gif" alt="Large Cluster Rotation">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                How would I know how to change the addresses of each piece?  I first tried to use trigonometry 
                to solve this problem.  I got close.
            </p>
            <img class="itemimg" src="assets/images/talismans/math_scribbles.png" alt="Page Scribbles Of Mathematic Formulas">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                I was able to reliably get the correct integer change 
                that needed to happen in the Col and Row.  Tri still changed only one.  However, I couldn't 
                figure out how to know whether I should add this number or subtract this number.  Before 
                solving this with trigonometry, I came to realize that I could hard code these numbers with 
                not too much effort.  They still followed a pattern, and hard coding this felt more reliable 
                than my decades past AP Trigonometry knowledge.
            </p>
            <img class="itemimg" src="assets/images/talismans/rotation_hexmap.png" alt="Hexagon Map To Help Find Rotations">
        </div>
    </div>

    <!-- Full Refactors Are Fun!! -->
    <div class="item" id="item_refactors">

        <div class="itembar btn" (click)="toggle_item_refactors()">
            <h3>Full Refactors Are Fun!!</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_refactors==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                You commit a stable build to gibhub, make a new branch, and then proceed to break your beloved 
                program.  Slowly, you move through the program, changing what you need to.  No use trying to 
                compile if you know there will tons of errors.  Finally, you've gone through everything you 
                think you need to change.  Compile, and you see how you did!  And then, you fix minor errors 
                for however long.  And usually, you've built your program better than you did last time.
            </p>
        </div>
    </div>

    <!-- Memory Management / Garbage Collection -->
    <div class="item" id="item_mem_management">

        <div class="itembar btn" (click)="toggle_item_mem_management()">
            <h3>Memory Management / Garbage Collection</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_mem_management==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                I haven't worked with any low level languages or systems programming, but I have had to 
                understand when I can let memory be garbage collected by UE4 and when and how to 
                protect it(UPROPERTY).  So, while I don't have practical experience with memory management, 
                I am starting to scratch the surface of it.
            </p>
        </div>
    </div>

    <!-- Object-Orientated VS Functional -->
    <div class="item" id="item_oop_vs_func">

        <div class="itembar btn" (click)="toggle_item_oop_vs_func()">
            <h3>Object-Orientated VS Functional</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_oop_vs_func==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                Okay.  Object-Orientated Programming... After being web taught, OOP was supposed to be the newest, 
                bestest thing.  Make everything an object!  Turning my attention towards video game programming 
                however, I quickly picked up on the anti-OOP vibe.  Being new with UE4 though and programming in 
                general, I struggled just to get things to actually work.  Making them work well is another story.  
                Making broad decisions on the different ways to get something to work is acquired over time.  My 
                game is not big enough to need to pay attention to every bit, but at least in the scope of a function, 
                I'd be aware of only including actions that are necessary.
            </p>
            <div>&nbsp;</div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                In this argument, however, I've recently 
                found that I'm using objects and classes sometimes only as code organization, only as namespaces.  
                My next refactor goal on this project is to remove unneeded objects and replace them with namespace 
                files.   
            </p>
        </div>
    </div>

    <!-- Objects VS Actors VS Structs -->
    <!-- <div class="item" id="item_obj_act_str">

        <div class="itembar btn" (click)="toggle_item_obj_act_str()">
            <h3>Objects VS Actors VS Structs</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_obj_act_str==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                --
            </p>
            <img class="itemimg" src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
        </div>
    </div> -->

    <!-- Multiple Levels...Or Not??? -->
    <div class="item" id="item_multiple_levels">

        <div class="itembar btn" (click)="toggle_item_multiple_levels()">
            <h3>Multiple Levels...Or Not???</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_multiple_levels==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                Currently, every puzzle board and every room is a separate level.  All pieces, vessels, 
                and backend objects are reloaded and respawned every time you change between rooms and 
                puzzles.  I know a lot of this is wasteful.  Even though the game runs fine now, I'm 
                weighing the trade offs of moving to just one level.  This would mean that I save the 
                comp time of not reloading things for no reason, but it would mean that I'd hold more 
                memory on the heap.  Still researching my options.
            </p>
        </div>
    </div>

    <!-- Blueprint Programming -->
    <div class="item" id="item_blueprints">

        <div class="itembar btn" (click)="toggle_item_blueprints()">
            <h3>Blueprint Programming</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_blueprints==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                I was more intimidated by blueprints than I was with my C++.  Over time, I was able to 
                get a better handle on them.  I like making them look neat, and I like some of the 
                visual representations of different types of variables.  I also like how it's easier 
                to get references from the editor.  However, larger operations are better done in C++.
            </p>
            <img class="itemimg" src="assets/images/talismans/blueprints.png" alt="Puzzle In Progress">
        </div>
    </div>

    <!-- UMG Widget Menus -->
    <div class="item" id="item_widgets">

        <div class="itembar btn" (click)="toggle_item_widgets()">
            <h3>UMG Widget Menus</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_widgets==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                Widgets were another Unreal paradigm that took some effort to work with.  It didn't help 
                that I came to them without blueprint experience.  Following online tutorials weren't that 
                difficult, though.  First, I just got one properly working with the game. Next, I put in a pause and stats menu.
            </p>
            <img class="itemimg" src="assets/images/talismans/pause_menu.png" alt="Puzzle In Progress">
        </div>
    </div>

    <!-- Stats Menu -->
    <div class="item" id="item_stats_menu">

        <div class="itembar btn" (click)="toggle_item_stats_menu()">
            <h3>Stats Menu</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_stats_menu==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                Making this menu required a good system of communication between the widget and my back-end 
                C++ code.  I also had to build a number of hooks in my code so I can gather all of this information.  
                Getting these numbers is one thing, but I also wanted the player to be able to change the look of 
                progress. 
            </p>
            <img class="itemimg" src="assets/images/talismans/perspective_change.gif" alt="Puzzle In Progress">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                Specifically, that last look, which I've called MatrixBoxes.  Initially, I got this 
                working by creating a Widget Image for each of these black squares and making them visible according 
                to a TArray of an Enum that represents each different square.  I knew there was probably a better 
                solution, but I was glad I accomplished something “off the beaten path.”  Later, I had to add 
                characters to my main Font because it didn't come with some common punctuation.
            </p>
            <img class="itemimg" src="assets/images/talismans/punctuation_creation.png" alt="Puzzle In Progress">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                Now that my game 
                brought me to learning how to make my own vector-graphic font characters, why don't I make some 
                characters that will act as my boxes?  Now, my back-end just returns a string in MatrixBox Language!
            </p>
            <img class="itemimg" src="assets/images/talismans/matrixbox_language.png" alt="Puzzle In Progress">
        </div>
    </div>

    <!-- Model Rigging And Unreal Animation Integration -->
    <div class="item" id="item_rigging">

        <div class="itembar btn" (click)="toggle_item_rigging()">
            <h3>Model Rigging And Unreal Integration</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_rigging==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                This took me awhile.  I've worked with keyframe software before, so doing the simple animation 
                itself wasn't a problem for me.  However, I had to learn the basics of rigging 3D models and 
                how to specificallly configure my blender models for exporting into the .fbx file.  Then, 
                import them correctly into Unreal.  These two animations are minor, but the result of a lot 
                of struggle.
            </p>
            <img class="itemimg" src="assets/images/talismans/itempiece_animation.gif" alt="Animation Of An ItemPiece">
            <img class="itemimg" src="assets/images/talismans/cursor_to_square.gif" alt="Animation Of Cursor To Square">
        </div>
    </div>

    <!-- Puzzle Pieces -->
    <div class="item" id="item_puzzle_pieces">

        <div class="itembar btn" (click)="toggle_item_puzzle_pieces()">
            <h3>Puzzle Pieces - Randomly Cut And Integrated</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_puzzle_pieces==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                At the beginning of a new puzzle build, the puzzle pieces are randomly cut for each puzzle.  
                This information is stored in simple, custom structs.  Objects are made for each of these pieces 
                at the beginning of each session based on this information, and these objects are moved and 
                manipulated throughout the game, which also alters the information in the structs.  The on-screen
                pieces that the player sees are only representations of this information. In the future, I will be 
                able to effect the ratio of smaller pieces to bigger pieces based on
                difficulty settings.
            </p>
            <!-- <img class="itemimg" src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                In the future, I will be able to effect the ratio of smaller pieces to bigger pieces based on
                difficulty settings.
            </p> -->
        </div>
    </div>

    <!-- Table Navigation -->
    <div class="item" id="item_table_navigation">

        <div class="itembar btn" (click)="toggle_item_table_navigation()">
            <h3>Table Navigation</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_table_navigation==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                ---
            </p>
            <img class="itemimg" src="assets/images/talismans/table_navigation.gif" alt="Puzzle In Progress">
        </div>
    </div>

<!-- GAME DESIGN / ART -->
<div class="item" id="item_tagline">
    <div class="itembar_category btn">
        <h3>Game Design/Art</h3>
        <h3>&nbsp;</h3>
    </div>
</div>

    <!-- Puzzle Images -->
    <div class="item" id="item_puzzle_images">

        <div class="itembar btn" (click)="toggle_item_puzzle_images()">
            <h3>Puzzle Images - Curated By Me</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_puzzle_images==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                Puzzle images are curated by me, mostly using royalty free images online, but a future 
                goal would be to add images from digital artists.  They come in 18 different sizes and 
                currently, there are 234 possible puzzles in the game.  Images are picked at random 
                during a world build according to how many pieces or how many puzzles are chosen.  Or 
                according to a percentage variable of larger puzzles versus small puzzles.
            </p>
            <img class="itemimg" src="assets/images/talismans/puzzle_images.gif" alt="Puzzle In Progress">
        </div>
    </div>

    <!-- Vessels -->
    <div class="item" id="item_vessels">

        <div class="itembar btn" (click)="toggle_item_vessels()">
            <h3>Vessels</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_vessels==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                These vessels represent all the baggage we store our pain in.  They are inspired by all 
                the breakable objects in video games that are so fun to clear.
            </p>
            <img class="itemimg" src="assets/images/talismans/vessels.png" alt="Hundreds Of Vessels Ready To Break">
        </div>
    </div>

    <!-- Parables -->
    <!-- <div class="item" id="item_parables">

        <div class="itembar btn" (click)="toggle_item_parables()">
            <h3>Parables</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_parables==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                --
            </p>
            <img class="itemimg" src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
        </div>
    </div> -->

    <!-- Character Crests -->
    <!-- <div class="item" id="item_character_crests">

        <div class="itembar btn" (click)="toggle_item_character_crests()">
            <h3>Character Crests</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_character_crests==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                --
            </p>
            <img class="itemimg" src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
        </div>
    </div> -->

    <!-- Gameplay Verbs -->
    <div class="item" id="item_gameplay_verbs">

        <div class="itembar btn" (click)="toggle_item_gameplay_verbs()">
            <h3>Future Gameplay Verbs</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_gameplay_verbs==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                The other side of the gameplay loop is breaking Vessels, and becoming increasingly 
                better at clearing them.  The plan is to create 4 or 5 different types of abilities, 
                which would each have a few levels of magnitude.  Each world build would populate 
                vessels with upgrades to these “Vitalities.”  Each game would have different combinations 
                of these Vitalities, making for a different type of breaking experience each game.  Imagine 
                one game where your stomp is the most powerful.  Imagine another where you find lots of 
                items to place that clear full lines of vessels at a time.  Imagine another where jumping up clears 
                a lot of vessels at once.  AND etc.  Here's a mockup of the stats screen that would show different
                Vitalities gained.
            </p>
            <img class="itemimg" src="assets/images/talismans/mockup.png" alt="Photoshop Mockup Of Upgrades">
        </div>
    </div>

    <!-- Prod Gen Levels -->
    <!-- <div class="item" id="item_prod_gen_levels">

        <div class="itembar btn" (click)="toggle_item_prod_gen_levels()">
            <h3>Procedurally Generated Levels</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_prod_gen_levels==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                --
            </p>
            <img class="itemimg" src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
        </div>
    </div> -->

    <!-- Modeling -->
    <!-- <div class="item" id="item_modeling">

        <div class="itembar btn" (click)="toggle_item_modeling()">
            <h3>3D Modeling - Blender</h3>
            <h3>&#9660;</h3>
        </div>
        <div *ngIf="item_modeling==true" class="itemcontent">
            <div class="finedivision"></div>
            <div class="finedivision2"></div>
            <p class="bodytext left_align">&nbsp;&nbsp;&nbsp;
                --
            </p>
            <img class="itemimg" src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
        </div>
    </div> -->

    







<!--END ITEMS-->

    <div class="division"></div>
    <div class="division2"></div>

    <h1>The Talismans Of Genyatium</h1>
    <img class="talismanlogo" src="assets/images/talismans/talismans_logo.png" alt="Talismans Logo">
    
    <div class="division"></div>
    <div class="division2"></div>
    <footer>
        <p id="footerlegal">Talismans Of Genyatium &copy; VavaVacuda Games 2021</p>
    </footer>


    
    


</div>








