
        <p class="elevator">
            Focused game developer looking to become a vital part of a software development 
            team.  Great balance between technical skills and soft skills.  Effective communicator 
            as a leader and a colleague.  Highly adept at seeing how smaller details and components 
            integrate with the larger whole.  Background in filmmaking, visual arts, and management.</p>


    


    <div class="division"></div>
    <div class="division2"></div>



<div class="inner">
    
    <div class="card" [routerLink]="['/talismans']" (click)="toTop()">
        <div class="card-header">Talismans Of Genyatium</div>  
        <img src="assets/images/talismans/screenshot_talismans.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- C++ / Unreal -</p>
            <p class="card-text">Procedurally-Generated Jigsaw Game</p>
        </div>
    </div>
    
    <div class="card" [routerLink]="['/honey_hives']" (click)="toTop()">
        <div class="card-header">Honey Hives</div>  
        <img src="assets/images/honey_hives/screenshot_honeyhives.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- C# / Unity -</p>
            <p class="card-text">Procedurally-Generated Logic Game</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/fantastic_knock_about']" (click)="toTop()">
        <div class="card-header">A Fantastic Knock About</div>  
        <img src="assets/images/fantastic_knock_about/fka_icon.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- C# / Unity -</p>
            <p class="card-text">Physics-Based Action Arcade Game</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/crop_tool']" (click)="toTop()">
        <div class="card-header">BMP Image Cropper</div>  
        <img src="assets/images/crop_tool/screenshot_crop_tool.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- C++ -</p>
            <p class="card-text">Commandline Tool To Crop Images</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/swedish']" (click)="toTop()">
        <div class="card-header">Swedish Mountain Manicure</div>  
        <img src="assets/images/swedish_mountain_manicure/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- Construct 2 -</p>
            <p class="card-text">Platformer Prototype</p>
        </div>
    </div>
    
    <div class="card" [routerLink]="['/unreal']" (click)="toTop()">
        <div class="card-header">Unreal Engine</div>  
        <img src="assets/images/unreal/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- C++ -</p>
            <p class="card-text">Game Engine Experience</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/unity']" (click)="toTop()">
        <div class="card-header">Unity Engine</div>  
        <img src="assets/images/unity/screenshot_unity.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- C# -</p>
            <p class="card-text">Game Engine Experience</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/blender']" (click)="toTop()">
        <div class="card-header">Blender</div>  
        <img src="assets/images/blender/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- - - -</p>
            <p class="card-text">3D Modeling Experience</p>
        </div>
    </div>
    
    <div class="card"  [routerLink]="['/sacred']" (click)="toTop()">
        <div class="card-header">Sacred Coins</div>  
        <img src="assets/images/sacred_coins/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- Construct 2 -</p>
            <p class="card-text">Vast Choose-Your-Own-Adventure</p>
        </div>
    </div>

    <div class="card" [routerLink]="['/fetch_friend']" (click)="toTop()">
        <div class="card-header">Fetch A Friend</div>  
        <img src="assets/images/fetch_friend/faf_screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- Javascript / React -</p>
            <p class="card-text">Dog Adoption App</p>
        </div>
    </div>
    
    <div class="card" [routerLink]="['/inventory']" (click)="toTop()">
        <div class="card-header">Inventory Shelf</div>  
        <img src="assets/images/inventory_shelf/screenshot.png" class="card-img-top" alt="Screenshot">
        <div class="card-body">
            <p class="card-text-tech">- Typescript / Angular -</p>
            <p class="card-text">Manage Inventory, Make Purchases</p>
        </div>
    </div>

   

    



</div>

