
<div class="inner">
    <div class="card">
        <div class="card-header">Inventory Shelf</div>  
        <img src="assets/images/inventory_shelf/screenshot.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Manage Inventory, Make Purchases</p>
            <button class="btn btn-success" [routerLink]="['/inventory']">Check Me Out</button>
            <!-- <button class="btn btn-success" [routerLink]="['/show/inventory_shelf']">Check Me Out</a> -->
        </div>
    </div>

    <div class="card">
        <div class="card-header">Swedish Mountain Manicure</div>  
        <img src="assets/images/swedish_mountain_manicure/screenshot.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Platformer Video Game</p>
            <button class="btn btn-success" [routerLink]="['/swedish']">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Sacred Coins</div>  
        <img src="assets/images/sacred_coins/screenshot.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Vast Choose-Your-Own-Adventure</p>
            <button class="btn btn-success" [routerLink]="['/sacred']">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Jigsaw Registry</div>  
        <img src="assets/images/jigsaw_registry/screenshot.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Jigsaw Puzzle Hobby Organizer</p>
            <button class="btn btn-success" [routerLink]="['/jigsaw']">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Hostility Skirmish</div>  
        <img src="assets/images/hostility_skirmish/screenshot.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Online Multiplayer Battle Game</p>
            <button class="btn btn-success" [routerLink]="['/hostility']">Check Me Out</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Ninjaman</div>  
        <img src="assets/images/ninjaman/screenshot.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Pacman Clone</p>
            <button class="btn btn-success" [routerLink]="['/ninjaman']">Check Me Out</button>
        </div>
    </div>
</div>

