

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* outline: 1px dotted red; */
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* .mycontainer {
    background-color: rgb(160, 163, 154);
    background-color: rgb(65, 65, 65);
    background-image: linear-gradient(to right, rgb(169, 170, 166), rgb(75, 77, 73)); 
} */

a {
    text-decoration: none;
}

p {
    text-align: center;
}



/* .division {
    background-color: rgb(216, 216, 216);
    height: 5px;
    width: 80%;
    margin: 20px auto 20px auto;
    box-shadow: 0px 0px 3px rgb(216, 216, 216);
    display: block;
    border-radius: 10px;
} */

.division {
    background-color: rgb(209, 168, 31);
    border-color: rgb(95, 61, 29);
    height: 5px;
    width: 60%;
    margin: 20px auto 20px auto;
    box-shadow: 0px 0px 2px rgb(95, 61, 29);
    display: block;
    border-radius: 10px;
}

.division2 {
    background-color: rgb(209, 168, 31);
    border-color: rgb(95, 61, 29);
    height: 5px;
    width: 50%;
    margin: -14px auto 20px auto;
    box-shadow: 0px 0px 2px rgb(95, 61, 29);
    display: block;
    border-radius: 10px;
}


button {
    margin: 0px auto;
    display: block;
}

h1 {
    text-align: center;
    /* color: rgb(216, 216, 216); */
    color: rgb(58, 52, 22);
    background-image: radial-gradient(rgb(229, 206, 134),rgb(209, 168, 31));
    width: 40%;
    margin: 10px auto 10px auto;
    box-shadow: 4px 4px 3px 2px rgb(104, 88, 47);
    border-radius: 8px;
}

h3 {
    text-align: center;
}


.midicon {
    margin: 0px 30px;
}

.rightmidicon {
    margin-right: 30px;
}

img {
    margin-top: 10px;
    height: 32px;
    width: auto;
}

.btn-success {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    height: 24px;
    line-height: 10px;
    box-shadow: 0px 0px 1px 2px black;
}









/* SMALL */

@media only screen and (max-width: 480px) {

    .mycontainer {
        width: 100%;
        min-height: 800px;
        margin: 0px auto;
        padding: 20px;
    }

    .mycontainer h1 {
        font-size: 30px;
    }

    .mycontainer h3 {
        font-size: 16px;
    }

    .mycontainer p {
        font-size: 12px;
    }
    
}
    
/* MEDIUM */

@media only screen and (min-width: 481px) {

    .mycontainer {
        width: 100%;
        min-height: 800px;
        margin: 0px;
        padding: 20px 30px;
    }

    .mycontainer h1 {
        font-size: 30px;
    }

    .mycontainer h3 {
        font-size: 16px;
    }

    .mycontainer p {
        font-size: 12px;
    }

}
    
/* LARGE */

@media only screen and (min-width: 1024px) {

    .mycontainer {
        width: 970px;
        min-height: 800px;
        margin: 0px auto;
        padding: 20px 40px;
    }

    .mycontainer h1 {
        font-size: 30px;
    }

    .mycontainer h3 {
        font-size: 16px;
    }

    .mycontainer p {
        font-size: 12px;
    }


}