<div class="inner">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>

        <h1>Ninjaman</h1>

        <p>A typical pacman clone, but I learned a lot on building random worlds and using pathfinding algorithms to make sure that you could always win the game.</p>
        <h4>Technologies</h4>
        <p>Javascript</p>

        <a class="btn btn-danger" href="https://github.com/Vacuda/Ninjaman">-Github-</a>

        <h5>Avoid the Monsters, Eat the Sushi</h5>
        <img src="assets/images/ninjaman/win.gif" alt="Animated Gif Showing Functionality">

        <h5>Randomized Worlds</h5>
        <img src="assets/images/ninjaman/random.gif" alt="Animated Gif Showing Functionality">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>

</div>