<div class="inner">

    <button class="btn btn-success" [routerLink]="['/']">-Back-</button>

    <h1>Ninjaman</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut, deserunt hic voluptatibus doloremque enim veniam nemo. Iure impedit ipsa porro eum asperiores est quae praesentium, suscipit, quo laborum dolor.</p>
    <h4>Technologies</h4>
    <p>Javascript</p>

    <a class="btn btn-danger" href="https://github.com/Vacuda/Ninjaman">-Github-</a>

    <h5>Avoid the Monsters, Eat the Sushi</h5>
    <img src="assets/images/ninjaman/win.gif" alt="...">

    <h5>Randomized Worlds</h5>
    <img src="assets/images/ninjaman/random.gif" alt="...">

    <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>

</div>