<div class="inner">

    <button class="btn btn-success" [routerLink]="['/']">-Back-</button>

    <h1>Gold-Getting Exercise</h1>

    <h4>Technologies</h4>
    <p>Python, Django, MySQLite</p>
    <a class="btn btn-danger" href="https://github.com/Vacuda/Gold_Getter_in_Django">-Github-</a>

    <p>Python, Flask, MySQLite</p>
    <a class="btn btn-danger" href="https://github.com/Vacuda/Gold_Getter_in_Flask">-Github-</a>

    <h5>Getting Golds</h5>
    <img src="assets/images/gold_getter/full.gif" alt="...">

    <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>

</div>