<router-outlet></router-outlet>




<!-- <div class="container">

    <h1>Adam J. Sikora</h1>
    <h3>-Software Developer-</h3>
    <p><a href="mailto:adamjsikora@gmail.com">adamjsikora@gmail.com</a> - 708.764.0029 - <a href="https://www.linkedin.com/in/adamjsikora/">linkedin.com/in/adamjsikora</a></p>

    <div class="division"></div> -->

    <!-- <p *ngIf="elevator==true">Focused developer looking to become a vital part of the team. Great balance between coding skill and soft skills. Effective communicator and teacher. Eager to learn deeply and be coached. Eager to build quality software and write beautiful code. Strong ability to see both the big and the small and how important the one is to the other. I lean towards back-end, but I have a background in film/visuals/videogames, so I know why things should look and feel good too.</p>

    <div *ngIf="elevator==true" class="division"></div> -->

    <!-- <router-outlet></router-outlet> -->

    <!-- <app-projects></app-projects> -->

<!-- </div> -->


<!-- <img src="assets/images/hostility_skirmish/screenshot.png" alt="hello">
<img src="assets/images/swedish_mountain_manicure/teleport.gif" alt="hello"> -->


<!-- 

    <button [routerLink]="['/alpha']">Load Alpha</button>
    <a [routerLink] = "['details', 5]"> Go to /products/details/5 </a> 


    <div *ngIf="errors">
        <h4>Errors:</h4>
        <ul>
            <div *ngFor="let item of errors">
                <li class="errors">{{item.message}}</li>
            </div>
        </ul>

    </div>




    <div *ngIf="createtask">
        <form (submit)="createTask()">
            <div class="form-group">
                <label for="title">Task Name:</label>
                <input name="createtask.title" [(ngModel)]="createtask.title" class="form-control" id="title" placeholder="---">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="createtask.description" [(ngModel)]="createtask.description" class="form-control" id="description" rows="3" placeholder="---"></textarea>
            </div>

            <button class="btn btn-warning" type="submit">Create</button>
        </form>
    </div>

    <div *ngIf="updatetask">
        <form (submit)="updateTask(onetask._id)">
            <div class="form-group">
                <label for="title">Task Name:</label>
                <input name="updatetask.title" [(ngModel)]="updatetask.title" class="form-control" id="title" value="updatetask.title">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="updatetask.description" [(ngModel)]="updatetask.description" class="form-control" id="description" rows="3" value="updatetask.description"></textarea>
            </div>

            <button class="btn btn-warning" type="submit">Submit Edits</button>
        </form>
    </div>

    <div class="division"></div>

    <button class="btn btn-primary" (click)="getTasks()">Click for Tasks</button>

    <div class="division"></div>

    <div class="centered" *ngFor="let task of tasks">

        <h2><a id="clickable" (click)="getOneTask(task._id)">{{task.title}}</a></h2>
        <div class="division"></div>
    </div> -->
