<div class="inner">


    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>



        <h1>Talismans</h1>

        <p>Talismans is a calm, flow-inducing, procedurally-generated, multiple-puzzles, jigsaw puzzle game based on hexagons and 
            triangles and ... grief. You find the pieces in containers piled up in a typical level, no enemies, no deaths, just lots
            of things to break, and lots of things to put back in its place.</p>

        <p>I've been developing this game since August 2020. Check here for the latest updates:</p>

        <p>
            <a href="https://twitter.com/vavavacudagames"><img src="assets/images/icons/icon_twitter.png" alt="Twitter Icon"></a>
            <a href="https://www.youtube.com/channel/UCQd1p4LLjIFoVrocGAS9bdQ"><img src="assets/images/icons/icon_youtube.png" alt="Youtube Icon"></a>
        </p>

        <h4>Technologies</h4>
        <p>Written in C++, Unreal Engine, Procedurally-Generated, Blueprint Materials, Blender</p>

        <a class="btn btn-danger" href="https://github.com/Vacuda/Partial_Talismans">-Github Samples-</a>

        <h5>My Latest DevLog</h5>
        <iframe src="https://www.youtube.com/embed/n5zLFExhtLY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        
        <h5>Putting Together A Puzzle</h5>
        <img src="assets/images/talismans/bin_view.png" alt="Puzzle In Progress">
        
        <h5>Different Sized Puzzles!</h5>
        <img src="assets/images/talismans/many_grids.gif" alt="Gif Of Different Sized Puzzle Grids">
        
        <h5>Who's Going To Clean This Up?</h5>
        <img src="assets/images/talismans/containers.png" alt="Procedurally-Generated Room">
        
        <h5>Who's Going To Sort These Pieces?</h5>
        <img src="assets/images/talismans/junction.png" alt="Unsorted Puzzle Pieces">
        
        <h5>Written in C++</h5>
        <img src="assets/images/talismans/code_2.png" alt="Screenshot of C++ Code">
        
        <h5>Scribbles</h5>
        <img src="assets/images/talismans/scribbles.png" alt="Scribbled Note Taking">


    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>


</div>