<div class="inner">

    <button class="btn btn-success" [routerLink]="['/']">-Back-</button>

    <h1>Talismans</h1>

    <p>Talismans is a calm, flow-inducing, procedurally-generated, jigsaw puzzle game based on hexagons and triangles. You find puzzle
        pieces scattered around a Zelda-like dungeon, no enemies, no deaths. Then, each piece needs to find its home on one of many 
        puzzle boards. Lots of discovery and putting things back in their place, when the outside world rages on.</p>

    <p>I've been developing this game since August 2020.</p>

    <h4>Technologies</h4>
    <p>Written in C++, Unreal Engine, Procedurally-Generated, Blueprint Materials</p>

    <a class="btn btn-danger" href="https://github.com/Vacuda/Talismans/tree/master/Source/Talismans">-Github-</a>

    <h5>Game In Action! (no sound)</h5>
    <iframe src="https://www.youtube.com/embed/y-cJrRRVyF8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h5>Written in C++</h5>
    <img src="assets/images/talismans/code_2.png" alt="Screenshot of C++ Code">

    <h5>Puzzle Screenshot</h5>
    <img src="assets/images/talismans/board_3.png" alt="Puzzle In Progress">

    <h5>Room Screenshot</h5>
    <img src="assets/images/talismans/rooms.png" alt="Procedurally-Generated Room">

    <h5>Puzzle Screenshot</h5>
    <img src="assets/images/talismans/board_2.png" alt="Puzzle In Progress">
    
    <h5>Scribbles</h5>
    <img src="assets/images/talismans/scribbles.png" alt="Scribbled Note Taking">

    <h5>Puzzle Screenshot</h5>
    <img src="assets/images/talismans/board_1.png" alt="Puzzle In Progress">


    <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>

</div>