<div class="inner">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']">-Back-</button>
    </div>

    <div class="division"></div>
    <div class="division2"></div>

    <h4>Hexagonal, Sudoku, Math, Tile and Metroidvania Game</h4>
        <img src="assets/images/honey_hives/screenshot_honeyhives.png" alt="Title Screen of Honey Hives">

        <h4>Introductory DevLog:</h4>
        <div class="videoWrapper"ng>
            <iframe src="https://www.youtube.com/embed/Pku4qe_LsBo?si=7VxJ5mS019peflQv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p></p>
        <a class="btn btn-danger" href="https://www.youtube.com/watch?v=Pku4qe_LsBo&list=PLzFBsLQ1cL2v6WZdW85rzh1bQrXdMdfrZ&index=1">- Youtube Playlist Of All Videos -</a>
        <p></p>

        <h4>Technologies</h4>
        <p>Built using Unity and C#, Models in Blender</p>
        
        <p></p>
        <a class="btn btn-danger" href="https://github.com/Vacuda/Partial_HoneyHives">- C# Github Samples -</a>
        
        <h5>Avoid False Statements In 9 Directions and Your Flowers Will Bloom!</h5>
        <img src="assets/images/honey_hives/honeyhives_guidelines.gif" alt="Animated Gif Showing Functionality">

        <h5>You Can't Move Some Pieces</h5>
        <img class="img_sm" src="assets/images/honey_hives/honeyhives_negative_feedback.gif" alt="Animated Gif of Negative Feedback">

        <h5>Spin, Move, and Make The Logic Valid</h5>
        <img src="assets/images/honey_hives/honeyhives_manipulate.gif" alt="Animated Gif of Manipulating Pieces">

        <h5>How It's Going vs How It Started</h5>
        <img src="assets/images/honey_hives/honeyhives_designhistory.png" alt="Game Design Picture">

    <!-- Switch For Regular Or Web Version -->
    <div *ngIf="bIsWeb==true">
        <button class="btn btn-success" [routerLink]="['/web']" (click)="toTop()">-Back-</button>
    </div>
    <div *ngIf="bIsWeb==false">
        <button class="btn btn-success" [routerLink]="['/']" (click)="toTop()">-Back-</button>
    </div>

        <!-- <footer> -->
        <p id="footerlegal">Honey Hives & The Particular Axis-Vines &copy; VavaVacudaGames 2025</p>
        <!-- </footer> -->

</div>