.inner {
    margin: 0 auto;
    display: block;
    text-align: center;
}

img {
    width: 80%;
    height: auto;
    /* max-width: 90%; */
    box-shadow: 0px 0px 3px 2px black;

}

iframe {
    width: 80%;
    display: block;
    margin: 5px auto;
    box-shadow: 0px 0px 7px black;
}

h5 {
    margin-top: 20px;
}

h1 {
    text-decoration: underline;
}

.top {
    width: 20%;
    height: auto;
}

.btn-success {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    height: 24px;
    line-height: 10px;
    box-shadow: 0px 0px 1px 2px black;
}

.btn-danger {
    width: 40%;
    margin-bottom: 20px;
    height: 24px;
    line-height: 10px;
    box-shadow: 0px 0px 1px 2px black;
}


/* SMALL */

@media only screen and (max-width: 480px) {

    h5 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    iframe {
        height: 30vh;
    }

    .btn-danger {
        width: 100%;
    }

}
    
/* MEDIUM */

@media only screen and (min-width: 481px) {

    iframe {
        height: 52vh;
    }

    .btn-danger {
        width: 70%;
    }

}
    
/* LARGE */

@media only screen and (min-width: 1024px) {

    iframe {
        height: 60vh;
    }

    .btn-danger {
        width: 40%;
    }

}